/**
*
* @project    Spread Courier
* @Author     Elmo Wu <hello@xuedesign.tw>
* @copyright  2019 xuedesign studio
* @version    v2.0 - 201902
*
**/

/*
=====================================
Large devices / Desktops 960
=====================================
*/
@media screen and (min-width:960px) and (max-width:1239px){
#box-top,
#box-down,
#box-slider,
#services,
#banner-item,
#container{
    display: block;
    width:95%;
    margin: 0 auto}
h1 a{
    width: 15%;
    height: 63px;
    background-size: contain}
#main-nav{
    margin-top: 30px}    
#banner{
    height:95%}
#banner-main{
    margin-left:0}    
#services{
    padding: 25px 0 40px 0;
    text-align: center}    
#service-item{
    width: 88%/*90%*/;
    margin: 46px auto 30px auto;
    padding-left: 100px}
.serviceitem-01{ margin: 0 50px 40px 24px}
.serviceitem-02{ margin: 0 15px 40px 24px}
.serviceitem-03{ margin: 0 20px 40px 20px}
.serviceitem-04{ margin: 0 20px 40px 150px}
.serviceitem-05{ margin: 0 20px 40px 20px}
#box-down h3 a{
    width: 15%;
    height: 123px;
    background-size: cover}
#foot-contact{
    padding: 55px 0 0 20px;
    font-size: .813em}
.flex-direction-nav .flex-prev { display: none}
.flex-direction-nav .flex-next { display: none}
#banner-pic{
    background-position: center}
#banner-pic.banner-03{ background-position:top right}    
#container{ background: none}
#subnav{
    width: 23%;
    padding: 20px 15px 0 20px}
#main-content{
    width: 76%;
    min-height: 710px;
    padding: 20px 20px 50px 41px;
    margin: 0 0 0 0;
    border-left: 1px solid #E0E0E0}
.page-note{
    width: 95%}
.box-pageleft,
.box-pageright{
    float: none;
    width: 95%}
.box-pageright img{ margin: 0 auto }
.box-pageright span{
    display: block;
    width: 95%;
    text-align: center;
    padding-bottom: 20px}
.table-head{
    width: 99.9%}
.mytable{
    width: 100%}
.mytable td img{
    width: 80%;
    height: auto}
#mobile-list{ display: none}    
#box-links{
    width: 100%;
    height: 359px;
    background-size: contain;
    margin: 35px auto;
    padding: 15px 75px}
#world-map{
    width: 98%;
    margin: 110px auto 0 auto;
    background-size: contain}
#world-map .country-other{
    top:-102px;
    left: 40px}
#world-map .country-usa{
    top:-65px;
    left: 105px}
#world-map .country-eurpo{
    top:-100px;
    left: 313px}
#world-map .country-asia-01{
    top:-100px;
    right: 170px}
#world-map .country-asia-02{
    top:-35px;
    right: 15px}
.line-other{
    top: -80px;
    left: 10px}
.line-usa{
    top: -25px;
    left: 110px}
.line-eurpo{
    top: -50px;
    left: 330px}
.line-asia-01{
    top: -90px;
    right: 140px}
.line-asia-02{
    top: -20px;
    right: 80px}
.pot-other{
    top:-100px;
    left: 10px}
.pot-usa{
    top: -40px;
    left: 111px}
.pot-eurpo{
    top: -70px;
    left: 330px}
.pot-asia-01{
    top:-95px;
    right: 140px}
.pot-asia-02{
    top:-25px;
    right: 80px}    
}

/*
=====================================
Medium devices / Tablets 768
=====================================
*/
@media screen and (min-width:768px) and (max-width:959px){
#box-top,
#box-down,
#services,
#container{
    display: block;
    width:95%;
    margin: 0 auto}
#box-slider,
#banner-item{
    display: block;
    width:100%;
    margin: 0 auto}    
header{
    height: 80px}    
h1 a{
    width: 15%;
    height: 50px;
    background-size: contain}
#main-nav{
    display: none}
#mobile-nav{
    display: block;
    float: right;
    margin: 20px 2px 0 0;
    width: 42px;
    height: 42px;
    background: url(../images/btn_nav-mobile-s.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#mobile-nav:hover{
    background: url(../images/btn_nav-mobile-s.png) 0 -42px no-repeat;}    
    
#banner{
    height:100%}
#banner-main{
    margin-left:0}     
.flex-direction-nav .flex-prev { display: none}
.flex-direction-nav .flex-next { display: none}
#banner-text{
    padding: 70px 15px 0 15px}    
#banner-pic{
    background-position: right}
#banner-pic.banner-02,
#banner-pic.banner-05,
#banner-pic.banner-07{ 
    background-position:top left}
#banner-pic.banner-04,
#banner-pic.banner-10{ 
    background-position:top center}
    
#services{
    padding: 25px 0 40px 0;
    text-align: center}
#service-item{
    width: 90%;
    margin: 46px auto 30px auto;
    padding-left: 100px}
.serviceitem-01{ margin: 0 50px 40px 24px}
.serviceitem-02{ margin: 0 15px 40px 24px}
.serviceitem-03{ margin: 0 85px 40px 100px}
.serviceitem-04{ margin: 0 20px 40px 20px}
.serviceitem-05{ margin: 0 20px 40px 20px}
footer{
    padding-top: 20px}    
#box-down h3{
    float: none;
    width: 100%;
    height: 39px;
    background-position: top center}
#foot-contact{
    float: none;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    font-size: .813em;
    line-height: 1.55em}    

#container{ background: none}
#subnav{ display: none}
#main-content{
    float: none;
    width: 95%;
    min-height: 710px;
    margin: 0 auto}
.page-note{
    width: 95%;
    margin: 10px auto 30px auto;}
.box-pageleft,
.box-pageright{
    float: none;
    width: 95%}
.box-pageright img{ margin: 0 auto }
.box-pageright span{
    display: block;
    width: 95%;
    text-align: center;
    padding-bottom: 20px}
.table-head{
    width: 99.9%}
.mytable{
    width: 100%}
.mytable td img{
    width: 80%;
    height: auto}
#mobile-list{ display: none}    
#box-links{
    width: 100%;
    height: 359px;
    background-size: contain;
    margin: 35px auto;
    padding: 15px 75px}
#world-map{ display: none}
.box_customer{
    display: block;
    width: 85%;
    margin: 0 auto 20px auto;
    padding: 15px}
.box_customer ul{
    border-bottom: 2px dashed #e1e1e1}
#area-01 h5,
#area-02 h5,
#area-03 h5,
#area-04 h5,
#area-05 h5{ 
    display: block;
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: 10px}
.box_customer h6{
    padding: 5px 0}    
.customer_info li{
    padding: 2px 0;
    border-bottom: none}    
}

/*
=====================================
Small devices / Small Tablets &　Phone
=====================================
*/
@media screen and (min-width:480px) and (max-width: 767px) {
#box-top,
#box-down,
#services,
#container{
    display: block;
    width:95%;
    margin: 0 auto}
#box-slider,
#banner-item{
    display: block;
    width:100%;
    margin: 0 auto}    
header{
    height: 80px}    
h1 a{
    width: 30%;
    height: 40px;
    background-size: contain}
#main-nav{
    display: none}
#mobile-nav{
    display: block;
    float: right;
    margin: 20px 2px 0 0;
    width: 42px;
    height: 42px;
    background: url(../images/btn_nav-mobile-s.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#mobile-nav:hover{
    background: url(../images/btn_nav-mobile-s.png) 0 -42px no-repeat;}    
    
#banner{
    height:100%}
#banner-main{
    margin-left:0}     
.flex-direction-nav .flex-prev { display: none}
.flex-direction-nav .flex-next { display: none}
#banner-text{
    width: 40%;
    padding: 70px 15px 0 15px}    
#banner-pic{
    width: 60%;
    background-position: right}
#banner-pic.banner-01,  
#banner-pic.banner-02,
#banner-pic.banner-05,
#banner-pic.banner-07,
#banner-pic.banner-11{ 
    background-position:top left}
#banner-pic.banner-08,  
#banner-pic.banner-04,
#banner-pic.banner-10{ 
    background-position:top center}
    
#services{
    padding: 25px 0 40px 0;
    text-align: center}
#service-item{
    width: 90%;
    margin: 46px auto 30px auto;
    padding-left: 0}
#service-item li a{
    display: block;
    float: none;
    margin: 0 auto 30px auto}
    
footer{
    height: 145px;
    padding-top: 20px;
    background: url(../images/bg_footer.png) repeat-x, RGB(55,63,87)}    
#box-down h3{
    float: none;
    width: 100%;
    height: 39px;
    background-position: top center}
#foot-contact{
    float: none;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    font-size: .813em;
    line-height: 1.55em}
#foot-contact a,
#foot-contact a:visited{
    margin: 0 3px}    

#container{ background: none}
#subnav{ display: none}
#main-content{
    float: none;
    width: 95%;
    min-height: 710px;
    margin: 0 auto}
.page-note{
    width: 95%;
    margin: 10px auto 30px auto;}
.box-pageleft,
.box-pageright{
    float: none;
    width: 95%}
.box-pageright img{ margin: 0 auto }
.box-pageright span{
    display: block;
    width: 95%;
    text-align: center;
    padding-bottom: 20px}
.table-head{
    width: 99.9%}
.mytable{
    width: 100%}
.mytable td img{
    width: 80%;
    height: auto}
#mobile-list{ display: none}    
#box-links{
    width: 100%;
    height: 500px;
    background: url(../images/bg_links-s.png) no-repeat;
    background-size: contain;
    margin: 35px auto;
    padding: 15px 75px}
#box-links ul{
    background-size: contain} 
.comingsoon{
    display: block;
    width: 100%;
    height: auto;
    margin: 60px auto}    
#world-map{ display: none}
.box_customer{
    display: block;
    width: 85%;
    margin: 0 auto 20px auto;
    padding: 15px}
.box_customer ul{
    border-bottom: 2px dashed #e1e1e1}    
#area-01 h5,
#area-02 h5,
#area-03 h5,
#area-04 h5,
#area-05 h5{ 
    display: block;
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: 10px}
.box_customer h6{
    padding: 5px 0}    
.customer_info li{
    padding: 2px 0;
    border-bottom: none}  
}


/*
=====================================
Extra small devices / Small Phone
=====================================
*/
@media screen and (min-width:321px) and (max-width: 480px){
#box-top,
#box-down,
#services,
#container{
    display: block;
    width:95%;
    margin: 0 auto}
#box-slider,
#banner-item{
    display: block;
    width:100%;
    margin: 0 auto}    
header{
    height: 80px}    
h1 a{
    width: 30%;
    height: 50px;
    background-size: contain}
#main-nav{
    display: none}
#mobile-nav{
    display: block;
    float: right;
    margin: 20px 2px 0 0;
    width: 42px;
    height: 42px;
    background: url(../images/btn_nav-mobile-s.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#mobile-nav:hover{
    background: url(../images/btn_nav-mobile-s.png) 0 -42px no-repeat;}    
    
#banner{
    height:100%}
#banner-main{
    position: relative;
    margin-left:0}     
.flex-direction-nav .flex-prev { display: none}
.flex-direction-nav .flex-next { display: none}
#banner-text{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 8px 15px 0;
    background: rgba(0,0,0,.5)}
#banner-text h2,
#banner-text p{
    color: #fff;
    text-shadow: none}
#banner-text h2{
    font-size: 2em}
#banner-text p{
    font-size: .875em;
    line-height: 1.2em}    
#banner-pic{
    width: 100%;
    background-position: right}
#banner-pic.banner-01,    
#banner-pic.banner-02,
#banner-pic.banner-05,
#banner-pic.banner-07,
#banner-pic.banner-11{ 
    background-position:top left}
#banner-pic.banner-08,  
#banner-pic.banner-04,
#banner-pic.banner-10{ 
    background-position:top center}*/
    
#services{
    padding: 0;
    text-align: center}    
#service-item{
    width: 90%;
    margin: 46px auto 30px auto;
    padding-left: 0}
#service-item li a{
    display: block;
    float: none;
    margin: 0 auto 30px auto}
    
footer{
    height: 155px;
    padding-top: 20px;
    background: url(../images/bg_footer.png) repeat-x, RGB(55,63,87)}    
#box-down h3{
    float: none;
    width: 100%;
    height: 39px;
    background-position: top center}
#foot-contact{
    float: none;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    font-size: .813em;
    line-height: 1.55em}
#foot-contact a,
#foot-contact a:visited{
    margin: 0 3px}    

#container{ background: none}
#subnav{ display: none}
#bar-cookie{ display: none}    
.watermark{ background: none}        
#main-content{
    float: none;
    width: 95%;
    min-height: 340px;
    margin: 0 auto}
#main-content h3{
    font-size: 1.75em;
    line-height: 1.3em;
    font-weight: normal;
    color: #77181c;
    padding-bottom: 30px}    
.page-note{
    width: 95%;
    height: 370px;
    margin: 10px auto 30px auto;}
.box-pageleft,
.box-pageright{
    float: none;
    width: 95%}
.box-pageright img{ 
    width: 100%;
    margin: 0 auto }
.box-pageright span{
    display: block;
    width: 95%;
    text-align: center;
    padding-bottom: 20px}
.table-head,
.mytable{
    display: none}
#mobile-list{ 
    display: block}
#mobile-list h5{
    font-size: 1em;
    line-height: 1.5em;
    color: rgb(132,37,41);
    padding-bottom: 15px}    
#mobile-list span{ font-weight: bold}
#mobile-list img{
    border: 2px solid #e1e1e1}    
    
#box-links{
    width: 100%;
    height: 300px;
    background: none/*url(../images/bg_links-xs.png) no-repeat*/;
    /*background-size: contain;
    margin: 35px auto;*/
    margin: -20px auto 0 auto;
    padding: 0 30px;
    word-wrap: break-word;
    word-break: break-all}
#box-links ul{
    background-size: contain} 
.comingsoon{
    display: block;
    width: 100%;
    height: auto;
    margin: 60px auto}    
#world-map{ display: none}
.box_customer{
    display: block;
    width: 85%;
    margin: 0 auto 20px auto;
    padding: 15px}
.box_customer ul{
    border-bottom: 2px dashed #e1e1e1}    
#area-01 h5,
#area-02 h5,
#area-03 h5,
#area-04 h5,
#area-05 h5{ 
    display: block;
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: 10px}
.box_customer h6{
    padding: 5px 0}    
.customer_info li{
    padding: 2px 0;
    border-bottom: none}
.box_customer span{ padding-left: 0}        
}

/*
=====================================
Extra small devices / old Small Phone
=====================================
*/
@media screen and (min-width:1px) and (max-width:350px){
#box-top,
#box-down,
#services,
#container{
    display: block;
    width:95%;
    margin: 0 auto}
#box-slider,
#banner-item{
    display: block;
    width:100%;
    margin: 0 auto}    
header{
    height: 80px}    
h1 a{
    width: 38%;
    height: 50px;
    background-size: contain}
#main-nav{
    display: none}
#mobile-nav{
    display: block;
    float: right;
    margin: 20px 2px 0 0;
    width: 42px;
    height: 42px;
    background: url(../images/btn_nav-mobile-s.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#mobile-nav:hover{
    background: url(../images/btn_nav-mobile-s.png) 0 -42px no-repeat;}    
    
#banner{
    height:100%}
#banner-main{
    position: relative;
    margin-left:0}     
.flex-direction-nav .flex-prev { display: none}
.flex-direction-nav .flex-next { display: none}
#banner-text{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 8px 15px 0;
    background: rgba(0,0,0,.5)}
#banner-text h2,
#banner-text p{
    color: #fff;
    text-shadow: none}
#banner-text h2{
    font-size: 1.8em}
#banner-text p{
    font-size: .813em;
    line-height: 1.2em}    
#banner-pic{
    width: 100%;
    background-position: right}
#banner-pic.banner-01,    
#banner-pic.banner-02,
#banner-pic.banner-05,
#banner-pic.banner-07,
#banner-pic.banner-11{ 
    background-position:top left}
#banner-pic.banner-08,  
#banner-pic.banner-04,
#banner-pic.banner-10{ 
    background-position:top center}
    
#services{
    padding: 20px 0 0 0;
    text-align: center}    
#service-item{
    width: 90%;
    margin: 46px auto 30px auto;
    padding-left: 0}
#service-item li a{
    display: block;
    float: none;
    margin: 0 auto 30px auto}
    
footer{
    height: 155px;
    padding-top: 20px;
    background: url(../images/bg_footer.png) repeat-x, RGB(55,63,87)}    
#box-down h3{
    float: none;
    width: 100%;
    height: 39px;
    background-position: top center}
#foot-contact{
    float: none;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    font-size: .813em;
    line-height: 1.55em}
#foot-contact a,
#foot-contact a:visited{
    margin: 0 3px}    

#container{ background: none}
#subnav{ display: none}
.watermark{ background: none}    
#main-content{
    float: none;
    width: 95%;
    min-height: 180px;
    margin: 0 auto}
#main-content h3{
    font-size: 1.75em;
    line-height: 1.3em;
    font-weight: normal;
    color: #77181c;
    padding-bottom: 30px}
#bar-cookie{ display: none}    
.page-note{
    width: 95%;
    height: 480px;
    margin: 10px auto 30px auto;}
.box-pageleft,
.box-pageright{
    float: none;
    width: 95%}
.box-pageright img{ 
    width: 100%;
    margin: 0 auto }
.box-pageright span{
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 20px}
.table-head,
.mytable{
    display: none}
#mobile-list{ 
    display: block}
#mobile-list h5{
    font-size: 1em;
    line-height: 1.5em;
    color: rgb(132,37,41);
    padding-bottom: 15px}    
#mobile-list span{ font-weight: bold}
#mobile-list img{
    border: 2px solid #e1e1e1}    
    
#box-links{
    width: 100%;
    height: 300px;
    background: none;
    background-size: contain;
    margin: -20px auto 0 auto;
    padding: 0 30px;
    word-wrap: break-word;
    word-break: break-all}
#box-links ul{
    background-size: contain} 
.comingsoon{
    display: block;
    width: 100%;
    height: auto;
    margin: 60px auto}    
#world-map{ display: none}
.box_customer{
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 15px}
.box_customer ul{
    border-bottom: 2px dashed #e1e1e1}    
#area-01 h5,
#area-02 h5,
#area-03 h5,
#area-04 h5,
#area-05 h5{ 
    display: block;
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: 10px}
.box_customer h6{
    padding: 5px 0}    
.customer_info li{
    padding: 2px 0;
    border-bottom: none}
.box_customer span{ padding-left: 0}    
}


@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2)
{ #mobile-nav,
  #mobile-nav:hover,
  #mobile-nav:visited{
    background:url(../images/btn_nav-mobile.png) no-repeat; 
    background-size:42px 42px}  
}
